div.f-fab {
  position: absolute;
  bottom: 1rem;
  right: 1rem;

  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  font-size: 1.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  user-select: none;

  color: var(--kitl-fab-fg-color);
  background-color: var(--kitl-fab-bg-color);
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.75);

  transition:
    transform 0.25s ease,
    background-color 0.25s ease,
    box-shadow 0.25s ease;
}

div.f-fab:hover {
  transform: translateY(-0.05rem);
  background-color: var(--kitl-fab-hover-bg-color);
  box-shadow: 0 0.175rem 0.75rem rgba(0, 0, 0, 0.6);
}

div.f-fab:active {
  transform: translateY(0.05rem);
  background-color: var(--kitl-fab-active-bg-color);
  box-shadow: none;
}
