div.editor-root {
  position: relative;
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
}

div.editor-root-wide {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

div.editor-root-wide-item {
  position: relative;
  flex: 1;
  height: 100%;
}

html,
body {
  overflow-y: hidden;
  overscroll-behavior-y: contain;
}
