$color-names: (fg, bg, primary, secondary, success, danger, warning);

// bg colors

@each $color in $color-names {
	.bg-#{$color} {
		background-color: rgba(var(--b-rgb-#{$color}), 1);
	}

	.fg-#{$color} {
		color: rgba(var(--b-rgb-#{$color}), 1);
	}

	/* Buttons */

	.btn-#{$color} {
		color: rgba(var(--b-rgb-#{$color}-text), 1);
		background-color: rgba(var(--b-rgb-#{$color}), 1);
		border-color: rgba(var(--b-rgb-#{$color}), 1);
	}

	.btn-ol-#{$color} {
		color: rgba(var(--b-rgb-#{$color}), 1);
		background-color: transparent;
		border-color: rgba(var(--b-rgb-#{$color}), 1);
	}

	.btn.btn-#{$color}:hover,
	.btn.btn-ol-#{$color}:hover {
		color: rgba(var(--b-rgb-#{$color}-text), 1);
		background-color: rgba(var(--b-rgb-#{$color}-light), 1);
		border-color: rgba(var(--b-rgb-#{$color}-light), 1);
	}

	.btn.btn-#{$color}:active,
	.btn.btn-ol-#{$color}:active {
		color: rgba(var(--b-rgb-#{$color}-text), 1);
		background-color: rgba(var(--b-rgb-#{$color}-dark), 1);
		border-color: rgba(var(--b-rgb-#{$color}-dark), 1);
	}
}

// Hard colors
@each $i in (bg, fg) {
	.bg-#{$i}-hard {
		background-color: rgba(var(--b-rgb-#{$i}-hard), 1);
	}

	.fg-#{$i}-hard {
		color: rgba(var(--b-rgb-#{$i}-hard), 1);
	}
}
