:root {
	--rgb-black: 0, 0, 0;
	--rgb-white: 255, 255, 255;

	--rgb-fg: 20, 20, 20;
	--rgb-fg-light: 40, 40, 40;
	--rgb-fg-dark: 0, 0, 0;
	--rgb-fg-hard: 0, 0, 0;
	--rgb-fg-text: var(--rgb-white);
	--rgb-bg: 235, 235, 235;
	--rgb-bg-light: 255, 255, 255;
	--rgb-bg-dark: 215, 215, 215;
	--rgb-bg-hard: 255, 255, 255;
	--rgb-bg-text: var(--rgb-black);

	--rgb-primary: 39, 123, 233;
	--rgb-primary-light: 93, 156, 236;
	--rgb-primary-dark: 40, 103, 184;
	--rgb-primary-text: var(--rgb-white);
	--rgb-secondary: 140, 148, 156;
	--rgb-secondary-light: 173, 180, 187;
	--rgb-secondary-dark: 99, 109, 120;
	--rgb-secondary-text: var(--rgb-white);
	--rgb-success: 140, 193, 82;
	--rgb-success-light: 160, 212, 104;
	--rgb-success-dark: 107, 164, 46;
	--rgb-success-text: var(--rgb-white);
	--rgb-danger: 218, 68, 83;
	--rgb-danger-light: 237, 85, 101;
	--rgb-danger-dark: 179, 30, 45;
	--rgb-danger-text: var(--rgb-white);
	--rgb-warning: 255, 206, 84;
	--rgb-warning-light: 247, 219, 150;
	--rgb-warning-dark: 246, 187, 66;
	--rgb-warning-text: var(--rgb-black);

	--rgb-beta: 101, 109, 120;
	--rgb-beta-light: 156, 163, 174;
	--rgb-beta-dark: 67, 74, 84;
	--rgb-beta-text: var(--rgb-white);
	--rgb-delta: 172, 146, 236;
	--rgb-delta-light: 205, 186, 255;
	--rgb-delta-dark: 150, 122, 220;
	--rgb-delta-text: var(--rgb-black);
	--rgb-lambda: 223, 98, 173;
	--rgb-lambda-light: 245, 138, 202;
	--rgb-lambda-dark: 193, 63, 141;
	--rgb-lambda-text: var(--rgb-white);
	--rgb-literal: 79, 193, 233;
	--rgb-literal-light: 164, 229, 253;
	--rgb-literal-dark: 59, 175, 218;
	--rgb-literal-text: var(--rgb-black);
	--rgb-comment: 72, 207, 173;
	--rgb-comment-light: 154, 252, 227;
	--rgb-comment-dark: 55, 188, 155;
	--rgb-comment-text: var(--rgb-black);
}

$color-names: (
	fg,
	bg,
	primary,
	secondary,
	success,
	danger,
	warning,
	beta,
	delta,
	lambda,
	literal,
	comment
);

// bg colors

@each $color in $color-names {
	.bg-#{$color} {
		background-color: rgba(var(--rgb-#{$color}), 1);
	}

	.fg-#{$color} {
		color: rgba(var(--rgb-#{$color}), 1);
	}

	/* Buttons */

	.btn-#{$color} {
		color: rgba(var(--rgb-#{$color}-text), 1);
		background-color: rgba(var(--rgb-#{$color}), 1);
		border-color: rgba(var(--rgb-#{$color}), 1);
	}

	.btn-ol-#{$color} {
		color: rgba(var(--rgb-#{$color}), 1);
		background-color: transparent;
		border-color: rgba(var(--rgb-#{$color}), 1);
	}

	.btn.btn-#{$color}:hover,
	.btn.btn-ol-#{$color}:hover {
		color: rgba(var(--rgb-#{$color}-text), 1);
		background-color: rgba(var(--rgb-#{$color}-light), 1);
		border-color: rgba(var(--rgb-#{$color}-light), 1);
	}

	.btn.btn-#{$color}:active,
	.btn.btn-ol-#{$color}:active {
		color: rgba(var(--rgb-#{$color}-text), 1);
		background-color: rgba(var(--rgb-#{$color}-dark), 1);
		border-color: rgba(var(--rgb-#{$color}-dark), 1);
	}
}

// Hard colors
@each $i in (bg, fg) {
	.bg-#{$i}-hard {
		background-color: rgba(var(--rgb-#{$i}-hard), 1);
	}

	.fg-#{$i}-hard {
		color: rgba(var(--rgb-#{$i}-hard), 1);
	}
}
