$ui-border-radius: 0.25rem;

:root {
	font-family: sans-serif;
	font-size: 16px;
	line-height: 1.2rem;
}

/* Button */

.btn {
	font-size: 1rem;
	border-width: 1px;
	border-style: solid;
	border-radius: $ui-border-radius;
	padding: 0.5rem;
	transition:
		color 0.1s ease-in-out,
		background-color 0.1s ease-in-out,
		border-color 0.1s ease-in-out;
}

/* Dropdown */
.dropdown {
	display: inline-block;
}

.dropdown-menu {
	position: absolute;
	min-width: 10rem;
	z-index: 10;
	padding: 0.25rem;
	background-color: rgba(var(--b-rgb-bg-hard), 1);
	border-radius: $ui-border-radius;
	box-shadow: 0 0.25rem 0.5rem rgba(var(--b-rgb-black), 0.25);
}

.dropdown-menu > a {
	color: rgba(var(--b-rgb-fg), 1);
	padding: 0.5rem;
	text-decoration: none;
	display: block;
	border-radius: $ui-border-radius;
	user-select: none;
	-webkit-user-select: none;
	cursor: pointer;
}

.dropdown-menu > a:hover {
	background-color: rgba(var(--b-rgb-primary), 0.25);
}

.dropdown-menu > a:active {
	background-color: rgba(var(--b-rgb-fg), 0.25);
}

.dropdown-menu > hr {
	border-color: rgba(var(--b-rgb-fg), 0.125);
	margin: 1px 0;
}

/* Input */

.form-control {
	border-width: 1px;
	border-style: solid;
	border-radius: $ui-border-radius;
	font-size: 1rem;
	padding: 0.5rem;
	color: rgb(var(--b-rgb-fg));
	background-color: rgb(var(--b-rgb-bg));
}

.code-area > textarea.form-control,
.form-control[type="text"],
.form-control[type="password"],
.form-control[type="number"] {
	border: 1px solid rgba(var(--b-rgb-secondary), 0.5);
	border-radius: $ui-border-radius;
	padding: 0.5rem;
}

.code-area > textarea.form-control:focus,
.form-control[type="text"]:focus,
.form-control[type="password"]:focus,
.form-control[type="number"]:focus {
	outline: 0.125rem solid rgba(var(--b-rgb-primary), 0.5);
}

.code-area > textarea.form-control:disabled,
input.form-control[type="text"]:disabled {
	color: rgba(var(--b-rgb-fg), 1);
	background-color: rgba(var(--b-rgb-bg), 1);
}

.code-area > textarea {
	font-family: monospace;
	resize: both;
	width: 20rem;
}

.code-area > textarea.code-area-hidden {
	visibility: hidden;
	height: 1px;
	margin: 0;
	padding: 0;
}

.checkbox > input {
	width: 1.25em;
	height: 1.25em;
}

.input-group {
	display: flex;
	flex-direction: row;
	align-items: center;
	border-radius: $ui-border-radius;
}

.input-group > .form-control {
	margin-left: 0;
	margin-right: 0;
}

.input-group > .form-control:not(:last-child),
.input-group > .btn:not(:last-child),
.input-group > .dropdown:not(:last-child) > .btn {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.input-group > .form-control:not(:first-child),
.input-group > .btn:not(:first-child),
.input-group > .dropdown:not(:first-child) > .btn {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

/* Toast Container */

.toast-container {
	z-index: 100000;
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	bottom: 1rem;
	left: 0;
	right: 0;
	align-items: center;
	pointer-events: none;
	transition: margin-bottom 0.1s ease-in-out;
}

@keyframes toast-in {
	0% {
		opacity: 0;
		transform: translateY(0.5rem) scale(0);
	}
	100% {
		opacity: 1;
		transform: translateY(0) scale(1);
	}
}

.toast-a-in {
	animation: toast-in 0.1s ease;
}

@keyframes toast-out {
	0% {
		opacity: 1;
		transform: translateY(0) scale(1);
	}
	100% {
		opacity: 0;
		transform: translateY(0.5rem) scale(0);
	}
}

.toast-a-out {
	animation: toast-out 0.1s ease;
}

.toast {
	color: rgba(var(--b-rgb-fg), 1);
	background-color: rgba(var(--b-rgb-bg-hard), 1);
	box-shadow: 0 0.25rem 0.5rem rgba(var(--b-rgb-black), 0.25);
	border-radius: $ui-border-radius;
	padding: 0.5rem;
	margin: 0.25rem;
	max-width: 80%;
}
