/* Fill parent */

.abs-parent {
	position: absolute;
	inset: 0;
}

.rel-parent {
	position: relative;
	inset: 0;
}

/* Size */

.w-50 {
	width: 50%;
}
.w-100 {
	width: 100%;
}
.w-auto {
	width: auto;
}
.w-fit {
	width: fit-content;
}

.h-50 {
	height: 50%;
}
.h-100 {
	height: 100%;
}
.h-auto {
	height: auto;
}

/* Margin */
$spacer: 0.25rem;

.m-auto {
	margin: auto;
}

.mx-auto {
	margin-left: auto;
	margin-right: auto;
}

@for $i from 0 through 5 {
	.m-#{$i} {
		margin: $i * $spacer;
	}
	.mt-#{$i} {
		margin-top: $i * $spacer;
	}
	.mr-#{$i} {
		margin-right: $i * $spacer;
	}
	.mb-#{$i} {
		margin-bottom: $i * $spacer;
	}
	.ml-#{$i} {
		margin-left: $i * $spacer;
	}
	.mx-#{$i} {
		margin-left: $i * $spacer;
		margin-right: $i * $spacer;
	}
	.my-#{$i} {
		margin-top: $i * $spacer;
		margin-bottom: $i * $spacer;
	}

	.p-#{$i} {
		padding: $i * $spacer;
	}
	.pt-#{$i} {
		padding-top: $i * $spacer;
	}
	.pr-#{$i} {
		padding-right: $i * $spacer;
	}
	.pb-#{$i} {
		padding-bottom: $i * $spacer;
	}
	.pl-#{$i} {
		padding-left: $i * $spacer;
	}
	.px-#{$i} {
		padding-left: $i * $spacer;
		padding-right: $i * $spacer;
	}
	.py-#{$i} {
		padding-top: $i * $spacer;
		padding-bottom: $i * $spacer;
	}
}

/* Display */
@each $display in (none, block, inline, inline-block, flex, inline-flex) {
	.d-#{$display} {
		display: $display;
	}
}

/* Position */

.abs-lt {
	position: absolute;
	left: 0;
	top: 0;
}

/* Flex */
@each $dir in (row, column) {
	.flex-#{$dir} {
		flex-direction: $dir;
	}
}

@each $justify in (start, end, center, between, around) {
	.justify-#{$justify} {
		justify-content: $justify;
	}
}

@each $align in (start, end, center, baseline, stretch) {
	.align-#{$align} {
		align-items: $align;
	}
}

.flex-fill {
	flex: 1 1 auto;
}
.flex-0 {
	flex: 0 0 auto;
}
.flex-1 {
	flex: 1 1 0%;
}
.flex-grow-0 {
	flex-grow: 0;
}
.flex-grow-1 {
	flex-grow: 1;
}
.flex-shrink-0 {
	flex-shrink: 0;
}
.flex-shrink-1 {
	flex-shrink: 1;
}

.ms-auto {
	margin-left: auto;
}

/* Opacity */
.opacity-0 {
	opacity: 0;
}
.opacity-50 {
	opacity: 0.5;
}
.opactiy-100 {
	opacity: 1;
}

/* Shadow */
.shadow-0 {
	box-shadow: none;
}
.shadow-1 {
	box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.15);
}
.shadow-2 {
	box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2);
}

/* Visibility */
.hidden {
	visibility: hidden !important;
}
.visible {
	visibility: visible !important;
}

/* User select */
@each $select in (none, all, auto) {
	.user-select-#{$select} {
		user-select: $select;
	}
}

/* Pointer */
@each $pointer in (default, pointer, grab, grabbing, not-allowed, move) {
	.cursor-#{$pointer} {
		cursor: $pointer;
	}
}

/* Events */

.no-user-select {
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.no-pointer-events {
	pointer-events: none;
}
