$flow-node-color-bg: #fff;
$flow-node-color-fg: #363d47;
$flow-node-color-op: #c1ccd2;
$flow-node-color-def: #888;
$flow-node-color-const: #ffbe00;
$flow-node-color-select: #ed553b;
$flow-node-color-mem: #085ed7;
$flow-node-color-comment: #46923c;

$flow-node-colors: (
  bg: $flow-node-color-bg,
  fg: $flow-node-color-fg,
  op: $flow-node-color-op,
  def: $flow-node-color-def,
  const: $flow-node-color-const,
  select: $flow-node-color-select,
  mem: $flow-node-color-mem,
  comment: $flow-node-color-comment
);

@use "sass:list";

/* Node shape */

.react-flow__node-start {
  font-size: 0.8rem;
  font-family: sans-serif;
  color: $flow-node-color-def;
  background: transparent;
  border: 0;
  border-bottom: 1px dashed $flow-node-color-def;
  min-width: 5rem;
  padding: 0.1rem 0rem;
  text-align: center;
}

.react-flow__node-end {
  font-size: 0.8rem;
  font-family: sans-serif;
  color: $flow-node-color-def;
  background: transparent;
  border: 0;
  border-top: 1px dashed $flow-node-color-def;
  min-width: 5rem;
  padding: 0.1rem 0rem;
  text-align: center;
}

.react-flow__node-op {
  font-size: 1rem;
  font-family: monospace;
  color: $flow-node-color-fg;
  background: $flow-node-color-op;
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem;
  text-align: center;
  line-height: 1;
}

.react-flow__node-op .flow-node-op-module {
  font-size: 0.3rem;
  color: $flow-node-color-def;
  text-align: left;
}

.react-flow__node-const {
  font-size: 1rem;
  font-family: sans-serif;
  color: $flow-node-color-fg;
  background: $flow-node-color-const;
  border-radius: 9999px;
  padding: 0.25rem 0.75rem;
  text-align: center;
}

.react-flow__node-select {
  font-size: 1rem;
  color: $flow-node-color-bg;
  background: $flow-node-color-select;
  border-radius: 0.25rem 0.25rem 1rem 1rem;
  padding: 0.3rem 1.5rem;
  text-align: center;
}

.react-flow__node-mem {
  font-size: 1rem;
  color: $flow-node-color-bg;
  background: $flow-node-color-mem;
  border-radius: 0.25rem;
  padding: 0.25rem 0.6rem;
  text-align: center;
}

.react-flow__node-comment {
  font-family: sans-serif;
  font-size: 0.75rem;
  max-width: 20rem;
  color: $flow-node-color-comment;
  background: rgba($flow-node-color-bg, 0.5);
  border: 0;
  border-left: 4px solid $flow-node-color-comment;
  border-radius: 0;
  padding: 0.25rem 0.5rem;
  text-align: left;
}

.react-flow__node.selected {
  box-shadow: 0 1px 4px rgba($flow-node-color-fg, 0.8);
}

/* Handles */

.react-flow__handle {
  width: 0.6rem;
  height: 0.6rem;
}

$handle_off: 0.3rem;

@each $_, $pos in (
  left: left,
  top: top,
  right: right,
  bottom: bottom,
) {
  .react-flow__handle-#{$pos} {
    #{$pos}: -$handle_off;
  }
}

.react-flow__handle.connecting {
  box-shadow: 0 0 5px $flow-node-color-mem;
}

/* Handle mixins */

@mixin flow-handle-border-style($style) {
  border-width: 1px;
  border-style: $style;
}

@mixin flow-handle-border-color($style, $fg, $bg) {
  @if $style == in {
    border-color: $fg;
    background-color: $bg;
  } @else {
    border-color: $bg;
    background-color: $fg;
  }
}

/* Handle definitions */
@each $type, $style in (
  ctx: (in, dotted),
  arg: (in, solid),
  fn: (out, dotted),
  ret: (out, solid),
) {
  @each $key, $color in $flow-node-colors {
    .flow-handle-#{$key}-#{$type} {
      @include flow-handle-border-style(list.nth($style, 2));
      @include flow-handle-border-color(
        list.nth($style, 1),
        $color,
        $flow-node-color-bg,
      );
    }
  }
}

/* Edge */

.flow-edge-error {
  box-shadow: 0 0 5px $flow-node-color-select;
}
