.flow-editor-header {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: 4px;
}

.react-flow {
  -webkit-user-select: none;
  user-select: none;
  background-color: var(--kitl-bg-color);
}

.react-flow__attribution {
  background-color: rgba(var(--kitl-bg-color), 0.5);
}

/* Panel buttons */
div.react-flow__panel button.react-flow__controls-button {
  color: var(--kitl-rf-panel-btn-fg-color);
  fill: var(--kitl-rf-panel-btn-fg-color);
  background-color: var(--kitl-rf-panel-btn-bg-color);
  border: 0;
  border-bottom: 0.0625rem dashed var(--kitl-bg-color);
}

div.react-flow__panel button.react-flow__controls-button:hover {
  background-color: var(--kitl-rf-panel-btn-hover-bg-color);
}

div.react-flow__panel button.react-flow__controls-button:active {
  background-color: var(--kitl-rf-panel-btn-active-bg-color);
}