:root {
	--kitl-c-bg: rgb(var(--kitl-rgb-bg));
	--kitl-c-fg: rgb(var(--kitl-rgb-fg));

	--b-c-bg: rgb(var(--b-rgb-bg));
	--b-c-fg: rgb(var(--b-rgb-fg));

	--hrm-c-fg: rgb(var(--hrm-rgb-fg));
	--hrm-c-bg: rgb(var(--hrm-rgb-bg));
	--hrm-c-empty: rgb(var(--hrm-rgb-empty));
	--hrm-c-comment: rgb(var(--hrm-rgb-comment));
	--hrm-c-select: rgb(var(--hrm-rgb-select));
	--hrm-c-connect: rgb(var(--hrm-rgb-connect));
}
