div.m-modal {
	position: absolute;
	z-index: 999;
	inset: 0;
	background-color: #0002;
}

div.m-modal.m-modal-center {
	padding: 2.5dvh 2.5dvw;
	& div.m-modal-content {
		position: relative;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		max-width: 100dvh;
		max-height: 100%;
		overflow-x: auto;
		overflow-y: auto;
		padding: 0.5rem;

		color: var(--kitl-c-fg);
		background-color: var(--kitl-c-bg);
		border-radius: 0.5rem;
		box-shadow: 0 0 1rem #00000080;
	}
}

div.m-modal.m-modal-bottom {
	padding: 0;
	padding-top: 10dvh;

	& div.m-modal-content {
		position: relative;
		left: 50%;
		top: 100%;
		transform: translate(-50%, -100%);
		max-width: 100dvh;
		max-height: 100%;
		overflow-x: auto;
		overflow-y: auto;
		padding: 0.5rem;

		color: var(--kitl-c-fg);
		background-color: var(--kitl-c-bg);
		border-radius: 0.5rem 0.5rem 0 0;
		box-shadow: 0 0 1rem #00000080;
	}
}
