.editor-root {
	position: absolute;
	top: 0;
	left: 0;
	width: 100dvw;
	height: 100dvh;
}

// Header

.editor-root-hrm-header-container {
	position: absolute;
	width: 100%;
	max-width: 25rem;
	top: 0;
	// center align
	left: 50%;
	transform: translateX(-50%);
	z-index: 9;
}

.editor-root-hrm-header {
	margin: 0.5rem;
}
