.editor-root {
	position: absolute;
	top: 0;
	left: 0;
	width: 100svw;
	height: 100svh;
}

.editor-root-hrm {
	top: 0;
	left: 0;
	width: 100svw;
	height: 100svh;
}

// Header

.editor-root-hrm-header {
	position: absolute;
	width: 100%;
	max-width: 20rem;
	top: 0;
	// center align
	left: 50%;
	transform: translateX(-50%);
	margin: 0.5rem;
	z-index: 9;
}
