html,
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	overscroll-behavior: contain;
	background-color: #000;
	touch-action: none;
}

svg.icon {
	vertical-align: sub;
}

* {
	-webkit-tap-highlight-color: transparent;
}
