div.hrm-container {
	display: block;
	background-color: #ffff;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

// Node

.hrm-node {
	width: auto;
	min-height: 1.5rem;

	display: flex;
	padding: 0.3rem;

	border: 2px solid var(--hrm-c-empty);
	border-radius: 999rem;
	box-shadow: 0 0.125rem 0.25rem #0002;
}

.hrm-node.selected {
	outline: 0.125rem dashed var(--hrm-c-select);
	outline-offset: 0.25rem;
}

.hrm-node-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
}

.hrm-node-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 0.2rem 0.4rem;
	margin-left: 0.2rem;
	line-height: 1;
}

.hrm-node-item:first-child {
	margin-left: 0;
}

.hrm-node-body {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 0;
}

.hrm-node-body:first-child {
	margin-left: 0.2rem;
}

.hrm-node-body:last-child {
	margin-right: 0.2rem;
}

.hrm-node-name {
	display: flex;
	flex-direction: column;
	align-items: left;
	line-height: 1;
}

.hrm-node-mark {
	margin-right: 0.2rem;
	font-size: 1.2rem;
	opacity: 0.33;
}

.hrm-node-name-name {
	font-size: 1rem;
}

.hrm-node-name-module {
	font-size: 0.5rem;
}

.hrm-node-comment {
	position: absolute;
	width: 40rem;
	text-align: left;
	border-left: 0.25rem solid var(--hrm-c-comment);
	color: var(--hrm-c-comment);
	padding: 0.25rem;
	font-family: serif;
	left: 0;
	top: 110%;
}

.hrm-node-handle {
	//background-color: #f004;
	cursor: pointer;
	position: absolute;
	width: 100%;
	height: 0.6rem;
	left: 0;
	bottom: -0.3rem;
}

// Handle

.hrm-handle {
	display: inline-block;
	border: 2px solid var(--hrm-c-empty);
	border-radius: 999rem;
}

// Edge

.hrm-edges {
	position: absolute;
	overflow: visible;
	width: 9999rem;
	height: 9999rem;
}

.hrm-edges path {
	pointer-events: stroke;
}

.hrm-editing-edge-handle {
	position: absolute;
	visibility: hidden;
	outline: 2px dashed var(--hrm-c-connect);
	outline-offset: 2px;
	border-radius: 9999rem;
}
