$node-color-fg: #000;
$node-color-bg: #fff;
$node-color-disabled: #ddd;
$node-colors: (
	#ddaec9,
	#b199c1,
	#ffc598,
	#f89ba1,
	#f38fb4,
	#b6d0c8,
	#8dc9d3,
	#96b0f8,
	#88a6fa
);
$node-colors-fg: (#000, #fff, #000, #000, #fff, #000, #000, #fff, #fff);

@for $i from 1 through length($node-colors) {
	.hrm-c-bg-#{$i - 1} {
		color: nth($node-colors-fg, $i);
		background-color: nth($node-colors, $i);
		border-color: nth($node-colors, $i);
	}

	.hrm-c-bd-#{$i - 1} {
		border-color: nth($node-colors, $i);
		background-color: $node-color-bg;
	}

	.hrm-c-stroke-#{$i - 1} {
		stroke: nth($node-colors, $i);
	}
}
