div.hrm-view {
	position: relative;
	left: 0;
	top: 0;
	width: 100dvw;
	height: max-content;
	overflow: visible;
	transform-origin: top left;
}

// Pane Controls

div.hrm-pane-controls {
	position: absolute;
	left: 0rem;
	bottom: 0rem;
	margin: 1rem;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	border: 1px solid var(--hrm-c-pane-btn-border);
	z-index: 10;
}

div.hrm-pane-controls > button {
	display: inline-block;
	color: var(--hrm-c-pane-btn-fg);
	background-color: var(--hrm-c-pane-btn-bg);
	padding: 0.3rem;
	border: 0;
	border-bottom: 1px solid var(--hrm-c-pane-btn-border);
}

div.hrm-pane-controls > button:last-child {
	border-bottom: 0;
}

div.hrm-pane-controls > button:hover {
	background-color: var(--hrm-c-pane-btn-hover-bg);
}

div.hrm-pane-controls > button:active {
	background-color: var(--hrm-c-pane-btn-active-bg);
}

div.hrm-pane-controls > button:disabled {
	background-color: #ddd;
}
