@use "sass:map";

.json-item-indent {
  margin-right: 2px;
  display: inline-block;
  /* Must include flex 0 0 w; */
}

$json-indent-colors: (
  0: (
    bg: #ff5794,
    fg: #ffffff,
  ),
  1: (
    bg: #faa230,
    fg: #000000,
  ),
  2: (
    bg: #a7e22e,
    fg: #000000,
  ),
  3: (
    bg: #66cce1,
    fg: #000000,
  ),
  4: (
    bg: #5596f1,
    fg: #ffffff,
  ),
  5: (
    bg: #aa7dfc,
    fg: #ffffff,
  ),
);

/* Buttons */

@each $key, $color in $json-indent-colors {
  .json-btn-depth-#{$key},
  .json-btn-depth-#{$key}:active,
  .json-btn-outline-depth-#{$key}:active {
    background-color: map.get($color, bg);
    color: map.get($color, fg);
  }
  .json-btn-depth-#{$key}:hover,
  .json-btn-depth-#{$key}:focus {
    background-color: rgba(map.get($color, bg), 0.5);
    color: map.get($color, fg);
  }
  .json-btn-outline-depth-#{$key} {
    border-color: map.get($color, bg);
    color: map.get($color, bg);
  }
  .json-btn-outline-depth-#{$key}:hover,
  .json-btn-outline-depth-#{$key}:focus {
    border-color: rgba(map.get($color, bg), 0.5);
    background-color: rgba(map.get($color, bg), 0.5);
    color: map.get($color, fg);
  }

  .json-value-collection-ellipsis-#{$key} {
    color: map.get($color, bg);
  }

  .json-value-collection-border-#{$key} {
    border-top: 1px solid;
    border-color: map.get($color, bg);
    opacity: 1;
    margin: 0;
  }
}
