.json-item-indent {
  margin-right: 2px;
  display: inline-block;
  /* Must include flex 0 0 w; */
}

/* Indent Colors
 * index: bg fg
 * 0: #ff5794 #ffffff # red
 * 1: #faa230 #000000 # orange
 * 2: #a7e22e #000000 # green
 * 3: #66cce1 #000000 # cyan
 * 4: #5596f1 #ffffff # blue
 * 5: #aa7dfc #ffffff # purple
 */

/* Buttons */

/*
.json-btn-depth-N {
  background-color: bg;
  color: fg;
}
.json-btn-depth-N:hover {
  background-color: bg80;
  color: fg;
}
.json-btn-outline-depth-N {
  border-color: bg;
  color: bg;
}
.json-btn-outline-depth-N:hover {
  border-color: bg80;
  background-color: bg80;
  color: fg;
}
*/

/* Color 0 */
.json-btn-depth-0 {
  background-color: #ff5794;
  color: #ffffff;
}
.json-btn-depth-0:hover {
  background-color: #ff579480;
  color: #ffffff;
}
.json-btn-outline-depth-0 {
  border-color: #ff5794;
  color: #ff5794;
}
.json-btn-outline-depth-0:hover {
  border-color: #ff579480;
  background-color: #ff579480;
  color: #ffffff;
}

/* Color 1 */
.json-btn-depth-1 {
  background-color: #faa230;
  color: #000000;
}
.json-btn-depth-1:hover {
  background-color: #faa23080;
  color: #000000;
}
.json-btn-outline-depth-1 {
  border-color: #faa230;
  color: #faa230;
}
.json-btn-outline-depth-1:hover {
  border-color: #faa23080;
  background-color: #faa23080;
  color: #000000;
}

/* Color 2 */
.json-btn-depth-2 {
  background-color: #a7e22e;
  color: #000000;
}
.json-btn-depth-2:hover {
  background-color: #a7e22e80;
  color: #000000;
}
.json-btn-outline-depth-2 {
  border-color: #a7e22e;
  color: #a7e22e;
}
.json-btn-outline-depth-2:hover {
  border-color: #a7e22e80;
  background-color: #a7e22e80;
  color: #000000;
}

/* Color 3 */
.json-btn-depth-3 {
  background-color: #66cce1;
  color: #000000;
}
.json-btn-depth-3:hover {
  background-color: #66cce180;
  color: #000000;
}
.json-btn-outline-depth-3 {
  border-color: #66cce1;
  color: #66cce1;
}
.json-btn-outline-depth-3:hover {
  border-color: #66cce180;
  background-color: #66cce180;
  color: #000000;
}

/* Color 4 */
.json-btn-depth-4 {
  background-color: #5596f1;
  color: #ffffff;
}
.json-btn-depth-4:hover {
  background-color: #5596f180;
  color: #ffffff;
}
.json-btn-outline-depth-4 {
  border-color: #5596f1;
  color: #5596f1;
}
.json-btn-outline-depth-4:hover {
  border-color: #5596f180;
  background-color: #5596f180;
  color: #ffffff;
}

/* Color 5 */
.json-btn-depth-5 {
  background-color: #aa7dfc;
  color: #ffffff;
}
.json-btn-depth-5:hover {
  background-color: #aa7dfc80;
  color: #ffffff;
}
.json-btn-outline-depth-5 {
  border-color: #aa7dfc;
  color: #aa7dfc;
}
.json-btn-outline-depth-5:hover {
  border-color: #aa7dfc80;
  background-color: #aa7dfc80;
  color: #ffffff;
}
