.json-editor {
  width: 100%;
  height: 100%;
  padding: 0.25rem;
  background-color: #ffffff;
}

.json-editor-header {
  position: sticky;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.json-editor-body {
  z-index: 0;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

textarea.json-text-area {
  width: 100%;
  border: 0;
  background-color: transparent;
  font-family: monospace;
  resize: none;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
}

textarea.json-text-area-invalid {
  color: red;
}

.json-item-line {
  width: 100%;
}

.json-item-index {
  display: block;
  font-size: 0.7rem;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding-right: 16px;
  line-height: 1.2;
  color: #999999;
  cursor: pointer;
}

.json-item-edit-text {
  cursor: text;
}

textarea.json-item-edit-text-area {
  font-family: monospace;
  resize: none;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
}

pre.json-item-edit-text-view {
  flex: 0 1 100%;
  font-family: sans-serif;
  margin: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
}

.form-control::placeholder {
  color: #88888888;
}
