.json-editor {
  width: 100%;
  height: 100%;
  padding: 4px;
  background-color: #ffffff;
}

.json-editor-header {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: 4px;
}

.json-editor-body {
  z-index: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-top: 40px;
}

textarea.json-text-area {
  width: 100%;
  border: 0;
  background-color: transparent;
  font-family: monospace;
  resize: none;
}

textarea.json-text-area-invalid {
  color: red;
}

.json-item-line {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
}

.json-item-line-content {
  width: 100%;
}

.json-item-index {
  display: block;
  font-size: 0.7rem;
  width: 100%;
  margin: 0rem;
  margin-left: 0.5rem;
  line-height: 1.2;
  color: #999999;
  cursor: pointer;
}

.test-wrap {
  border: 1px dashed #ff0000;
  position: relative;
  left: 20px;
  top: 4px;
  width: 90%;
  height: 90vh;
}
